/*
 Ancestors Selectors
*/

/* leave as-is */
#selectors * {
    border: .1rem solid black;
    margin: .2rem;
    border-radius: .2rem;
}

/* ****** CODE BELOW THIS LINE ****** */
/* No Separator: element with BOTH section AND .child  */


  
/* Space: element with .child whose ANCESTOR matches #selectors */



  
/* , element with EITHER section OR .child */




/* > */



/* :last-child    the last element within its container (must be the last) that matches .sibling */

  
/* :first-of-type    the first element of this type within its container (doesn't have to be the first of any type) that matches .sibling */

